test.py
notebook
model/ocr/transformerocr.pth
model/craft/craft_mlt_25k.pth
model/craft/craft_refiner_CTW1500.pth

**/__pycache__
~/__pycache__
cache
__pycache__/*.pyc
__pycache__/*.pyo
__pycache__/
**/__pycache__/

data
wandb
dump_shit
LLaMA-Factory/models
LLaMA-Factory/sarcasm_model_trained
model/pixtral_12b_official_weight
LLaMA-Factory/sarcasm_model_trained_pixtral_ds
qwen2_vl_qwen2_reason_cls
log
LLaMA-Factory
submit
data.zip
submit
model