vietocr
transformers
deepspeed
accelerate
peft
numpy
pandas
matplotlib
torch
tiktoken
einops==0.8.0
transformers_stream_generator
liger-kernel
qwen_vl_utils
scikit-learn==1.5.2
datasets
easydict
wandb